<footer class="footer py-5 gap-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <img src="images/logo.svg" alt="" width="185" height="40">
                <div class="d-flex mt-4 gap-2">
                    <div><img src="images/ios.png" alt="" class="img-fluid"></div>
                    <div><img src="images/android.png" alt="" class="img-fluid"></div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between gap-5">
                <div class="d-flex flex-column justify-content-between gap-2">
                    <span class="fw-bold  footer-menu-title">Quick links</span>
                    <span class="footer-menu-links">Contact us</span>
                    <span class="footer-menu-links">About Us</span>
                    <span class="footer-menu-links">Careers</span>
                </div>

                <div class="d-flex flex-column justify-content-between gap-2">
                    <span class="fw-bold  footer-menu-title">Services</span>
                    <span class="footer-menu-links">Box & Express</span>
                    <span class="footer-menu-links">Buy for me</span>
                    <span class="footer-menu-links">Stores in Turkey</span>
                </div>

                <div class="d-flex flex-column justify-content-between gap-2">
                    <span class="fw-bold footer-menu-title ">Social Media</span>
                    <span class="footer-menu-links">Facebook</span>
                    <span class="footer-menu-links">Twitter</span>
                    <span class="footer-menu-links">Linkedin</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container"><span class="copyright">Copyright © 2023 Almanara, All Rights Reserved.</span></div>

</footer>