.nav-link {
  color: #004392;
  font-weight: 500;
}
.my-address {
  border: 1px solid #3c699e;
}
.my-address > button {
  color: #3c699e;
  font-weight: 500;
}
.user {
  border: none;
  background-color: #c5dce8;
}
.user > button {
  color: #004392;
  font-weight: 500;
}
